{% extends "layout.html" %} 

{% block content %}

<div class="container mt-5">
    <div class="card text-center p-0">
        <div class="card-header bg-secondary text-white">
            <h2>
                Order Confirmation
            </h2>
        </div>

        <div class = "card-body mt-2">
            <h3 style = "font-weight: bold;">
                Create an account or Log In to confirm your order.
            </h3>
            <div class = "d-flex justify-content-center align-items-center gap-3 mt-5">
                <a href="/login?return_to={{ return_to or '/receipt'}}" class="btn btn-outline-success">
                    Log In
                </a>

                <a href="/register?return_to={{ return_to or '/receipt'}}" class="btn btn-success"> 
                    Create Account 
                </a>

                <a href="/cart" class="btn btn-outline-primary"> 
                    Back to Cart 
                </a>
                </div>
            </div>
        </div>
        </div>

{% endblock %}
